<p>Ask your coach anything:</p>
<div class="container">
  <form action="/answer" method="get" class="form">
    <span>
      <input type="text" name="question" class="text">
      <input type="submit" value="Ask!" class="ask">
    </span>
  </form>
</div>

